<h3>Scrivi una recensione:</h3>
<%= form_for([@property, @property.reviews.build]) do |f| %>

  <!--ERRORI-->
  <% if @review.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <h2>
          <%= pluralize(@review.errors.count, "error") %>
        </h2>
          <ul>
          <% @review.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <p>
    <%= f.label "Titolo" %><br>
    <%= f.text_field(:title, size:'15', :class => "form-control") %>
  </p>
  <p>
    <%= f.label "Descrizione"%><br>
    <%= f.text_area :body, :class => "form-control"%>
  </p>
  <p>
    Valutazione: <%= f.select :valutation, ['1', '2', '3', '4', '5']%>
  </p>
  <p>
    <%= f.submit "Invia recensione", :class => 'btn btn-primary'%>
  </p>
<% end %>
