<h1>Listing prices</h1>

<%= form_with scope: :price, url: prices_path, local: true do |f| %>
    <p>
        <%= f.label :descCarburante %>
        <%= f.text_area :descCarburante %>
    </p>

    <p>
        <%= f.label :prezzo %>
        <%= f.text_area :prezzo %>
    </p>

    <p>
        <%= f.label :isSelf %>
        <%= f.text_area :isSelf %>
    </p>

<% end %>