<%= form_with(model: [ @implant, @implant.reviews.build ], local: true) do |form| %>
    <p>
        <%= form.label :commenter %><br>
        <%= form.text_field :commenter %>
    </p>
    <p>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </p>
    <p>
        <%= form.label :stars %><br>
        <%= form.text_field :stars %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>

