
<!-- <% @stazioniVicine.each do |i| %>
    <table style="width:100%">
        <tr>
            <div class="col-md-2"> <h4> <%= i.Bandiera.upcase %> </h4> </div>
            <div class="col-md-2">      <%= i.Indirizzo.humanize[0..-7] %>,<%= i.Comune.humanize %> (<%= i.Provincia %>)</div>
            <div class="col-md-2"> <h4> <%= link_to 'Dettagli', implant_path(i) %> </h4> </div>
        </tr>
    </table>
<% end %> -->

<div class="container-table100">
    <div class="wrap-table100">
        <div class="table">

            <div class="row header">
                <div class="cell"> Bandiera </div>
                <div class="cell"> Indirizzo </div>
                <div class="cell"> Dettagli </div>
            </div>

            <% @stazioniVicine.each do |i| %>
            <div class="row">
                <div class="cell" data-title="Bandiera"> <%= i.Bandiera.upcase %> </div>
                <div class="cell" data-title="Indirizzo">      <%= i.Indirizzo.humanize[0..-7] %>,<%= i.Comune.humanize %> (<%= i.Provincia %>)</div>
                <div class="cell" data-title="Dettagli"> <%= link_to 'Dettagli', implant_path(i) %>  </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
