<!-- Form helper per il dettaglio delle stazioni -->
<!--        https://stackoverflow.com/a/25611732/1440037-->

<div class="container-table100">
    <div class="wrap-table100">
        <div class="table">

            <div class="row header">
                <div class="cell"> Benzina </div>
                <div class="cell"> Gasolio </div>
                <div class="cell"> Blue Super </div>
                <div class="cell"> Excellium Diesel </div>
                <div class="cell"> GPL </div>
                <div class="cell"> Metano </div>
            </div>

            <div class="row">
                <div class="cell" data-title="Benzina">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Benzina") %>
                     <%= @prezzi["Benzina"] %>
                </div>
                <div class="cell" data-title="Gasolio">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Gasolio") %>
                    <%= @prezzi["Gasolio"] %>
                </div>
                <div class="cell" data-title="Blue Super">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Blue Super") %>
                    <%= @prezzi["Blue Super"] %>
                </div>
                <div class="cell" data-title="Excellium Diesel">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Excellium Diesel") %>
                    <%= @prezzi["Excellium Diesel"] %>
                </div>
                <div class="cell" data-title="GPL">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("GPL") %>
                    <%= @prezzi["GPL"] %>
                </div>
                <div class="cell" data-title="Metano">
                    <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Metano") %>
                    <%= @prezzi["Metano"] %>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<table style="width:100%">
    <tr>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Benzina") %>
            Benzina <br/>
            (€<%=@prezzi["Benzina"]%>)
        </td>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Gasolio") %>
            Gasolio <br/>
            (€<%=@prezzi["Gasolio"]%>) </td>
    </tr>
    <tr>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Blue Super") %>
            Blue Super <br/>
            (€<%=@prezzi["Blue Super"]%>) </td>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Excellium Diesel") %>
            Excellium Diesel <br/>
            (€<%=@prezzi["Excellium Diesel"]%>) </td>
    </tr>

    <tr>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("GPL") %>
            GPL <br/>
            (€<%=@prezzi["GPL"]%>) </td>
        <td> <%= image_tag "/check.png", :size => "18x18" if @carburanti.include?("Metano") %>
            Metano <br/>
            (€<%=@prezzi["Metano"]%>) </td>
    </tr>

</table> -->
