<%= image_tag(@weather_icon) %> <br>
<h4> <%= @weather_description.humanize %> </h4>
Temperatura: <%= @weather_temp %>° <br>
Minima: <%= @weather_temp_min %>° <br>
Massima: <%= @weather_temp_max %>° <br>
Alba: <%= @weather_sunrise %> <br>
Tramonto: <%= @weather_sunset %> <br>
