<head>
    <style>
        h5 {
            border: 5px solid black;
            border-radius: 25px;
            background-color: green;
        }
    </style>
</head>

<br>

<% if @implant.count('Implants.idImpianto').length > 0 %>
    <h1> <%= @implant.count('Implants.idImpianto').length %> impianti trovati </h1>
<% else %>
    <h1> Nessun impianto trovato </h1>
<% end %>

<br>
<h5 align="center">
<!-- <%= image_tag "http://maps.google.com/maps/api/staticmap?size=800x300&sensor=false&zoom=13&center=#{@coord}&markers=#{@coordinates_str}"%> --!>
<iframe src="https://www.google.com/maps/embed/v1/search?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&q=gas+stations+near+<%=@city%>" width="800" height="300"></iframe>
</h5>
</br>


<br>
<% @implant.each do |i| %>
    <table style="width:100%">
        <tr>
            <div class="col-md-2"> <h4> <%= i.Bandiera.upcase %> </h4> </div>
            <div class="col-md-2"> <h4> <b> €<%= i.prezzo %> </b> </h4> </div>
            <div class="col-md-2"> <h4> <%= i.descCarburante %> </h4> </div>
            <div class="col-md-2">      <%= i.Indirizzo.humanize[0..-7] %>,<%= i.Comune.humanize %> (<%= i.Provincia %>)</div>
            <div class="col-md-2"> <h4> <%= link_to 'Dettagli', implant_path(i) %> </h4> </div>
            <div class="col-md-2"> <h4> <%= link_to 'Vado qui', calc_path(id: i, tipo_carburante: params[:tipo_carburante])%> </h4></div>
        </tr>
    </table>
<% end %>

