
<body>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">

        <!-- PRIMO GRUPPO -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <!-- TITOLO -->
            <div class="bg-primary my-3 py-3">
                <h1 class="display-5"> <%= @Bandiera.upcase %> </h1>
                <p class="lead"> <%= @Gestore.humanize %>  </p>
            </div>

            <div class="py-3">
                <h3> Tipi di Carburante </h3>
                <%= render 'prices_form' %>
            </div>

            <div class="py-3">
                <h3>Meteo</h3>
                <%= render 'weather_form' %>
            </div>

        </div>


        <!-- SECONDO GRUPPO -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">

            <div class="py-3">
                <h3> Stazioni vicine </h3>
                <%= render 'nearby_stations_form' %>
            </div>
            <!-- Your second column here -->
            <div class="py-3">
                <h3>Recensioni</h3>
                da implementare...
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;"></div>
        </div>


        <!-- TERZO GRUPPO -->
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">

            <!-- Titolo -->
            <div class="my-3 py-3">
                <br>
                <h2 class="display-5">Maps</h2>
                <p class="lead"> <%= @Indirizzo.humanize %> <%=@Comune.humanize %> (<%= @Provincia %>) </p>
            </div>

            <!-- MAPPA 1 -->
            <!-- <iframe
            width="600"
            height="450"
            frameborder="0" style="border:0"
            src="//www.google.com/maps/embed/v1/place?q=<%=@lat%>%2C<%=@long%>&zoom=18&key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk">
            </iframe> -->

        <!-- MAPPA 2 -->
        <!-- <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/streetview?location=<%=@lat%>%2C<%=@long%>&key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk"
        allowfullscreen>
        </iframe> -->

    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 50px; border-radius: 21px 21px 0 0;"></div>

</div>


</div>

</body>
