<h1> <%= @Bandiera.upcase %> </h1>
<h4> <%= @Indirizzo %> <%=@Comune %> (<%= @Provincia %>) </h4>

<br>

<h5> Tipo di Carburante: </h5>
<table style="width:100%">
    <tr>
<!--        https://stackoverflow.com/a/25611732/1440037-->
        <td> <%= check_box_tag 'benzina', 1, @carburanti.include?("Benzina") %> Benzina</td>
        <td> <%= check_box_tag 'gasolio', 1, @carburanti.include?("Gasolio") %> Gasolio</td>
    </tr>
    <tr>
        <td> <%= check_box_tag 'blue_super', 1, @carburanti.include?("Blue Super") %> Blue Super</td>
        <td> <%= check_box_tag 'excellium_diesel', 1, @carburanti.include?("Excellium Diesel") %> Excellium Diesel</td>
    </tr>

    <tr>
        <td> <%= check_box_tag 'GPL', 1, @carburanti.include?("GPL") %> GPL</td>
        <td> <%= check_box_tag 'Metano', 1, @carburanti.include?("Metano") %> Metano </td>
    </tr>

</table>

<br>
<h5>Meteo:</h5>
<%= @weather_description %><br>
Temperatura: <%= @weather_temp %>° <br>
Minima: <%= @weather_temp_min %>° <br>
Massima: <%= @weather_temp_max %>° <br>
Alba: <%= @weather_sunrise %> <br>
Tramonto: <%= @weather_sunset %> <br>

<div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
</div>