<h1>Statistiche</h1>

<%= form_tag("/implants/stats", method: :get) do %>
<div class="input">
    <p>
        Tipo carburante:
        <%= select_tag :tipo_carburante, options_for_select(tipo_carburante),
                       :include_blank => '-- Seleziona --', required: true %>
    </p>

    <p>
        Ordinamento:
        <%= select_tag :order, options_for_select(ordine),
                       :include_blank => '-- Seleziona --', required: true %>
    </p>

</div>
    <%= submit_tag("Cerca", :class => 'btn btn-primary') %>
<% end %>

<br>

<div>
    <% if (params.has_key?(:tipo_carburante) && params.has_key?(:order)) %>
        <h3>
            In Italia, queste <%= @prezzi.count("Implants.idImpianto").length %> stazioni di rifornimento vendono <%= @tipo_carburante %> al prezzo <%= @order_desc %>.
        </h3>

<div style='width: 100%;'>  
  <div id="map" style='width: 100%; height: 450px;'></div>  
</div>

        <% @prezzi.each do |i| %>
            <table style="width:100%">
                <tr>
                    <div class="col-md-2"><h4> <%= i.Bandiera.upcase %> </h4></div>
                    <div class="col-md-2"><h4><b> €<%= i.prezzo %> </b></h4></div>
                    <div class="col-md-2"><h4> <%= i.descCarburante %> </h4></div>
                    <div class="col-md-2"> <%= i.Indirizzo.humanize[0..-7] %>,<%= i.Comune.humanize %>(<%= i.Provincia %>)</div>
                    <div class="col-md-2"><h4> <%= link_to 'Dettagli', implant_path(i) %> </h4></div>
                </tr>
            </table>
        <% end %> 

    <% end %>
</div>

        <script type="text/javascript">  
        handler = Gmaps.build('Google');  
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
            markers = handler.addMarkers(<%=raw @routers_default.to_json %>);  
            handler.bounds.extendWith(markers);  
            handler.fitMapToBounds();  
        });  
        </script>
