
<body style="background-color: #C8D3F0">
<h1>Impianti Visitati</h1>
<!-- TABELLA -->
<div class="container-table100">
    <div class="wrap-table100">
        <div class="table">

            <div class="row header">
                <div class="cell"> Bandiera </div>
                <div class="cell"> Indirizzo </div>
                <div class="cell"> Dettagli </div>
                <div class="cell"> Vado qui </div>
            </div>

            <% @visitati.each do |i| %>
                <% @implant = Implant.find(i) %>
                <div class="row">
                    <div class="cell" data-title="Bandiera"> <%= @implant.Bandiera.upcase %> </div>
                    <div class="cell" data-title="Indirizzo">  <%= @implant.Indirizzo.humanize[0..-7] %> ,<%= @implant.Comune.humanize %> (<%= @implant.Provincia %>) </div>
                    <div class="cell" data-title="Dettagli"> <%= link_to 'Dettagli', implant_path(i) %>  </div>
                    <div class="cell" data-title="Vado qui"> <%= link_to 'Vado qui', calc_path(id: i, tipo_carburante: params[:tipo_carburante])%> </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

</body>