
<h2>Impianti Visitati</h2>

<% @visitati.each do |i| %>
    <% @implant = Implant.find(i) %>
    <table style="width:100%">
        <tr>
            <div class="col-md-2"><h4> <%= @implant.Bandiera.upcase %> </h4></div>
            <div class="col-md-2">      <%= @implant.Indirizzo.humanize[0..-7] %>,<%= @implant.Comune.humanize %> (<%= @implant.Provincia %>
                )
            </div>
            <div class="col-md-2"><h4> <%= link_to 'Dettagli', implant_path(i) %> </h4></div>
        </tr>
    </table>
<% end %>