
<head>
    <style>

    </style>
</head>

<body style="background-color: #E9C6BF">
<h1>Impianti Visitati</h1>


<% if @visitati.count == 0 %>
    <br><br><br><br><br><br>
    <h1>Nessun impianto visitato.</h1>
<% else %>

<!-- TABELLA -->
<div class="container-table100" style="background: #E9C6BF">
    <div class="wrap-table100">
        <div class="table">

            <div class="row header" style="background: #DE5F52">
                <div class="cell"> Bandiera </div>
                <div class="cell"> Indirizzo </div>
                <div class="cell"> Dettagli </div>
                <div class="cell"> Vado qui </div>
            </div>

            <% @visitati.each do |i| %>
                <% @implant = Implant.find(i) %>
                <div class="row">
                    <div class="cell" data-title="Bandiera"> <%= @implant.Bandiera.upcase %> </div>
                    <div class="cell" data-title="Indirizzo">  <%= @implant.Indirizzo.humanize[0..-7] %> ,<%= @implant.Comune.humanize %> (<%= @implant.Provincia %>) </div>
                    <div class="cell" data-title="Dettagli"> <%= link_to 'Dettagli', implant_path(i) %>  </div>
                    <div class="cell" data-title="Vado qui"> <%= link_to 'Vado qui', calc_path(id: i, tipo_carburante: params[:tipo_carburante])%> </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% end %>

</body>