<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% end %>
</div>

<hr>
<% if flash[:notice] %>
    <%= flash[:notice] %>
    <hr>
<% elsif flash[:warning] %>
    <%= flash[:warning]%>
    <hr>
<% end %>

<% if current_user && current_user.role == 'Banned' %>
    <h1> YOU HAVE BEEN BANNED </h1>
<% else %>

    <h1>Listing Games</h1>

    <p>
    <strong>Filters</strong>
    <%= form_for :search, url: games_path, method: :get do |f| %>
        <p>
            <%= f.label :parameter %><br>
            <%= f.text_field :parameter %>
        </p>
        <p>
            <%= f.submit "Search for Game"%>
        </p>
    <% end %>
    </p>
    <hr>

    <table>
    <tr>
        <th>Name</th>
    </tr>

    <% @games.each do |game| %>
    <tr>
        <td><%= game.name %></td>
        <td><%= image_tag game.image.url(:small) %></td>
        <td><%= link_to "More", game_reviews_path(game) %></td>
    </tr>
    <% end %>
    </table>

    <br>
    <%= link_to 'Add new Game', new_game_path%>

    <% if (current_user) %>
    <hr>
    <strong>Responses</strong>
    <p>
    <%= link_to 'Show responses list', responses_path%><br>
    </p>
    <% end %>

    <% if (current_user && current_user.role == "Admin") %>
    <hr>
    <strong>Administration Panel</strong>
    <p>
    <%= link_to 'Show user list', users_path%><br>
    <%= link_to 'Show report list', reports_path%>
    </p>
    <% end %>
<% end %>
