<h1>Nuovo Messaggio</h1>
<hr />

<%= form_tag conversations_path, method: :post do %>
  <div>
    Seleziona destinatario: <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :username) %>
  </div>
  <br />
  <div>
    <%= text_field_tag :subject, nil, placeholder: "Oggetto" %>
  </div>
  <br />
  <div>
    <%= text_area_tag :body, nil, placeholder: "Corpo del messaggio" %>
  </div>
  <br />

  <%= submit_tag "Invia messaggio" %>
  <% end %>
