<h1> <%= @conversation.subject %></h1>
<hr />
<% @conversation.receipts_for(current_user).each do |receipt| %>
<%current_user.mark_as_read(@conversation)%>

<div>
  <%= receipt.message.sender.username %> ha scritto:



  <p><%= receipt.message.body %></p>
  <hr />
</div>

<%end%>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
  <p>
    Rispondi:
  </p>
  <div>

    <%= text_area_tag :body %>
  </div>

  <%= submit_tag "Invia" %>
<% end %>
