<h2>Modifica informazioni account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div><p/>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true %>
  </div><p/>

  <div class = "field">
    <%= f.label :avatar %><br/>
    <%= f.file_field :avatar %>
  </div><p/>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Lasciare in bianco per non cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caratteri minimo</em>
    <% end %>
  </div><p/>

  <div class="field">
    <%= f.label :conferma_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div><p/>

  <div class="field">
    <%= f.label :password_attuale %> <i>(Obbligatoria per confermare cambiamenti)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div><p/>

  <div class="actions">
    <%= f.submit "Aggiorna", :class => 'btn btn-primary' %>
  </div>
<% end %><p/>

<h3>Elimina il mio account</h3>

<p>Stanco di Ω? <%= button_to "Elimina account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger'%></p>
