<h1>Crea Inserzione</h1>
<%= form_for :property, url: properties_path do |p| %>

  <!--ERRORI-->
  <% if @property.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <div id="error_explanation">
        <h2>
          <%= pluralize(@property.errors.count, "error") %>
        </h2>
          <ul>
          <% @property.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <p class="field">
    <%= p.label :titolo %><br>
    <%= p.text_field :title, id: :Titolo,:size=> 30 %><br>
  </p>

  <p >
    <%= p.label :descrizione %><br>
    <%= p.text_area :description, id: :Descrizione, :size=> 30 %>
  </p>

  <p class="field">
    <%= p.label :prezzo %><br>
    <%= p.text_field :price, id: :Prezzo, :size=> 30  %><br>
  </p>

  <p class="field" >
    <%= p.label :città %><br>
    <%= p.text_field :city, id: :address_city, :size=> 30, :placeholder=> "Inserisci la città" %><br>
  </p>


  <p>
    <%= p.label "Immagine 1" %><br>
    <%= p.file_field :img1 %><br>
  </p>

  <p>
    <%= p.label "Immagine 2" %><br>
    <%= p.file_field :img2 %><br>
  </p>

  <p>
    <%= p.label "Immagine 3" %><br>
    <%= p.file_field :img3 %><br>
  </p>

  <hr>
  <h3> Sezione categorie </h3>
  <table class='correlated'>
    <tr><th><%= p.label("Tipologia di acquisto") %></th></tr>
    <tr><th><%= p.select :categories, [ ["Affitto", "Affitto"], ["Prenotazione", "Prenotazione"] ], {:include_blank => false}, {:multiple => true}%></th></tr>
  </table>
  <table class='correlated'>
    <tr><th><%= p.label("Tipologia di proprietà") %></th></tr>
    <tr><th><%= p.select :categories, [ ["Abitazione", "Abitazione"], ["B&B", "B&B"], ["Casa Vacanza", "Casa Vacanza"], ["Attività Commerciale", "Attività Commerciale"] ], {:include_blank => false}, {:multiple => true}%></th></tr>
  </table>
  <table class='correlated'>
    <tr><th><%= p.label("Preferenza fascia oraria") %></th></tr>
    <tr><th><%= p.select :categories, [ ["Mattina", "Mattina"], ["Pomeriggio", "Pomeriggio"], ["Sera", "Sera"], ["Più Giorni", "Più Giorni"] ], {:include_blank => false}, {:multiple => true}%></th></tr>
  </table>
  <table class='correlated'>
    <tr><th><%= p.label("Preferenza stanza") %></th></tr>
    <tr><th><%= p.select :categories, [ ["Intera Casa", "Intera Casa"], ["Stanza Condivisa", "Stanza Condivisa"], ["Stanza Privata", "Stanza Privata"] ], {:include_blank => false}, {:multiple => true}%></th></tr>
  </table>

  <br><br><br><br><br><br><hr>
  <p>
    <%= p.submit "Crea Inserzione", :class => "btn btn-primary" %>
  </p>
<% end %>
<script>


  function initAutocomplete() {


    // Create the search box and link it to the UI element.
    var input = document.getElementById('address_city');
    var searchBox = new google.maps.places.SearchBox(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }


    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQIh8MGEehUptz2u7vr8JbRvyvB6mA4M8&libraries=places&callback=initAutocomplete"
     async defer></script>
