<div class="container">
<% provide(:title, "Edit user") %>

<h1><%= t(:uyp) %></h1>


    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label t(:name) %>

      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

        
      <p></p>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <%= f.submit t(:save), class: "btn btn-primary" %>
        </div>
        <div class="col-md-4">
        </div>
      </div>

    <% end %>
  
    <div class="pull-left">
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
                <a href="http://gravatar.com/emails" target=_blank>change</a>
        </div>
    </div>
</div>
