<h1>USER</h1>

<p>
    <strong>Name:</strong>
    <%= @user.name %>
</p>
<p>
    <strong>E-Mail:</strong>
    <%= @user.email %>
</p>
<p>
    <strong>Role:</strong>
    <%= @user.role %>
</p>

<hr>

<strong> List of games: </strong>
<table>
    <tr>
        <th>Game name</th>
    </tr>

    <% @user.games.each do |game| %>
        <tr>
            <% if game %>
            <td><%= game.name %></td>
            <td><%= link_to 'Show', game_reviews_path(game) %></td>
            <% end %>
        </tr>
    <% end %>
</table>

<br>
<hr>

<strong> List of reviews: </strong>
<table>
    <tr>
        <th>Game</th>
        <th>Rating</th>
    </tr>

    <% @user.reviews.each do |review| %>
        <tr>
            <% if review && review.game %>
            <td><%= review.game.name %></td>
            <td><%= review.rating %></td>
            <td><%= link_to 'Show', game_review_path(review.game,review) %></td>
            <% end %>
        </tr>
    <% end %>
</table>

<br>
<hr>

<strong> List of ads: </strong>
<table>
    <tr>
        <th>For game</th>
    </tr>

    <% @user.ads.each do |ad| %>
        <tr>
            <td><%= ad.game.name %></td>
            <td><%= link_to 'Show', game_ad_path(ad.game,ad) %></td>
        </tr>
    <% end %>
</table>

<hr>

<p>
    <%= link_to 'Back', users_path %>
</p>

<p>
    <%= link_to 'Edit User', edit_user_path(@user), method: :get%>
</p>

<p>
    <%= link_to 'Destroy User', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
