%h1 New Review for #{@game.name}

= form_tag game_reviews_path(@game) do
    %label Rating
    = select_tag 'review[rating]', options_for_select(1..10)
    
    %br
    %label Description
    %br
    = text_area :review, :description, size: "100x30"
    %br
    = submit_tag 'Create Review'
