<!--PARTIAL-->
<!--http://guides.rubyonrails.org/getting_started.html#using-partials-to-clean-up-duplication-in-views-->

<body class="centerBody editBody">

<%= form_with model: @station, local: true do |form| %>

    <!--    gestisco errori-->
    <% if @station.errors.any? %>
        <div id="error_explanation">

            <h2>
                <!-- pluralize is a rails helper that takes a number and a string as its arguments. If the number is greater than one, the string will be automatically pluralized-->
                <%= pluralize(@station.errors.count, "error") %> prohibited this article from being saved:
            </h2>
            <ul>
                <% @station.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <p>
        <%= form.label :Bandiera %><br>
        <%#= select_tag :Bandiera, options_for_select(@stazioni), :include_blank => '-- Seleziona --', required: true %>
        <%= form.text_field :Bandiera, :id => "Bandiera", :value => current_user.stazione_preferita, :class => "profileInput" %>
    </p>

    <p>
        <%= form.label :Nome %><br>
        <%= form.text_field :Nome , :class => "profileInput" %>
    </p>

    <p>
        <%= form.label :Indirizzo %><br>
        <%= form.text_field(:Indirizzo, required: true, :placeholder => "Inserisci indirizzo", :id => "Indirizzo" , :class => "profileInput") %>
    </p>

    <p>
        <%= form.label :Carburante %><br>

    <table class="blueTable">
        <thead>
        <tr>
            <th>Tipo</th>
            <th>Prezzo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Benzina</td>
            <td> <%= form.text_field(:Benzina, :placeholder => "€", :type => "number", :step => "any", :id => "Benzina" , :class => "profileInput") %> </td>
        </tr>
        <tr>
            <td>Gasolio</td>
            <td> <%= form.text_field(:Diesel, :placeholder => "€", :type => "number", :step => "any", :id => "Diesel", :class => "profileInput") %> </td>
        </tr>
        <tr>
            <td>Super</td>
            <td> <%= form.text_field(:Super, :placeholder => "€", :type => "number", :step => "any", :id => "Super", :class => "profileInput") %> </td>
        </tr>
        <tr>
            <td>Excellium Diesel</td>
            <td> <%= form.text_field(:Excellium, :placeholder => "€", :type => "number", :step => "any", :id => "Excellium Diesel", :class => "profileInput") %> </td>
        </tr>
        <tr>
            <td>Metano</td>
            <td> <%= form.text_field(:Metano, :placeholder => "€", :type => "number", :step => "any", :id => "Metano", :class => "profileInput") %> </td>
        </tr>
        <tr>
            <td>GPL</td>
            <td> <%= form.text_field(:GPL, :placeholder => "€", :type => "number", :step => "any", :id => "GPL", :class => "profileInput") %> </td>
        </tr>
        </tbody>
        </tr>
    </table>

    </p>

    <p>
        <%= form.label :Servizi %><br>

    <table class="blueTable">
        <tbody>
        <tr>
            <td>24/7</td>
            <td> <%= form.check_box :allDay, {}, 'true', '' %> </td>
        </tr>
        <tr>
            <td>Self Service</td>
            <td> <%= form.check_box :Self, {}, 'true', '' %></td>
        </tr>
        <tr>
            <td>Autolavaggio</td>
            <td> <%= form.check_box :autoLavaggio, {}, 'true', '' %> </td>
        </tr>
        <tr>
        </tbody>
        </tr>
    </table>

    </p>

    <br>
    <p>
        <%= form.submit "Crea Stazione", :class => "profileSubmit" %>
    </p>

<% end %>

<script>
    function initAutocomplete() {
        var input = document.getElementById('Indirizzo');
        var searchBox = new google.maps.places.SearchBox(input);
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
        async defer></script>

</body>