<h1>Stazioni di Rifornimento</h1> </br>
<body style="background-color: #C5ECC3">


<% if current_user.admin? %>
    <h3> <%= link_to 'Aggiungi stazione', new_station_path %> </h3>
<% end %>

<% if @station.count == 0 %>
    <h1 style="color: gray; margin-top: 120px;">Nessuna stazione aggiunta.</h1>
<% else %>

<!-- TABELLA -->
<div class="container-table100" style="background: #C5ECC3; ">
    <div class="wrap-table100">
        <div class="table">

            <div class="row header" style="background: #68BA42">
                <div class="cell"> Bandiera </div>
                <div class="cell"> Nome </div>
                <div class="cell"> Indirizzo </div>
                <div class="cell"> Dettagli </div>
                <div class="cell"> Modifica </div>
                <div class="cell"> Elimina </div>
            </div>

            <% @station.each do |s| %>
                <div class="row">
                    <div class="cell" data-title="Bandiera"> <%= s.Bandiera.upcase %> </div>
                    <div class="cell" data-title="Nome"> <%= s.Nome %> </div>
                    <div class="cell" data-title="Indirizzo">  <%= s.Indirizzo %> </div>
                    <div class="cell" data-title="Dettagli"> <%= link_to 'Dettagli', station_path(s) %>  </div>
                    <div class="cell" data-title="Modifica"> <%= link_to 'Modifica', edit_station_path(s) %> </div>
                    <div class="cell" data-title="Elimina"> <%= link_to 'Elimina', station_path(s),
                                                                         method: :delete,
                                                                         data: {confirm: 'Sei sicuro?'}%> </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<% end %>

</body>
