%h2 #{@person}'s opinion about #{@game.name}:

%h2 Rating: #{@review.rating}

%h2 Description:
#{@review.description}

%br
= link_to 'Back', game_reviews_path(@game)
= link_to 'Edit', edit_game_review_path(@game,@review)
= link_to 'Delete', game_review_path(@game,@review), :method => :delete, data: { confirm: 'Are you sure?' }
= link_to 'Report', new_report_path(review_target: @review.id)
