<!DOCTYPE html>
<html>
  <head>
    <title>Carburante2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
    Logged in as <%= current_user.email%> [<%= link_to 'Logout',
    destroy_user_session_path, :method => :delete%>]
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
