<script>
  var set_stars = function(form_id,answer_id) {
    var elem = $('#' + form_id + '_' + answer_id)
    if (elem.hasClass('on')) {
      elem.removeClass('on');
    }
    else {
      elem.addClass('on');
    }
  }

  $(function() {
    $('.rating_star').click(function() {
      var form_id = $(this).attr('data-form-id');
      var answer_id = $(this).attr('data-answer-id');
      set_stars(form_id,answer_id);
      stars = 0;

      $('#' + form_id + '_stars').val(stars);

      $.ajax({
        type: "post",
        url: $('#' + form_id).attr('action'),
        data: $('#' + form_id).serialize()
      });
    });
  });
</script>

<h3>Domande su: <%= @question.property.title %></h3>

<p>
<strong>Utente:</strong>
<%= @question.user.username %>
</p>

<p>
<strong>Testo:</strong>
<%= @question.body %>
</p>

<%= link_to 'Indietro', property_path(@property), class: 'btn btn-default' %>

<hr><h2>Risposte</h2>
<% if @answer.length == 0 %>
  <div class="alert alert-warning" role="alert">Nessuno ha ancora risposto a questa domanda.</div>
<% else %>
  <% @answer.each do |answer| %>
    <div class="panel panel-default">
    <div class="panel-body">
      <p>
        <strong>• </strong>
        <b><%= answer.user.username %></b>
        <br>
        <%= answer.body %><br><br>
        Punteggio: <%= answer.valutation %>
        <% if current_user && answer.user != current_user %>
          <ul class='rating'>
            <% form_id = "answer_#{answer.id}_rating" %>
            <%= form_for answer.answer_rating.last || answer.answer_rating.build, :html => {:id => "answer_#{answer.id}_rating" } do |f| %>
              <%= f.hidden_field :answer_id %>
            <% end %>
            
            <% answer.answer_rating.each do |r| %>
              <% current_answer = current_user.answer_rating.find_by(:id => r.id) %>
              <% if current_answer && current_answer.stars == 1 %>
                <li class="rating_star on" data-answer-id = "<%= answer.id %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{answer.id}" %>"></li>
                 &nbsp;&nbsp;<i>Clicca per rimuovere un voto</i>
              <% else %>
                <li class="rating_star" data-answer-id = "<%= answer.id %>" data-form-id = "<%= form_id %>" id= "<%= "#{form_id}_#{answer.id}" %>"></li>
                &nbsp;&nbsp;<i>Clicca per aggiungere un voto</i>
              <% end %>
            <% end %>
          </ul>
        <% end %>
        
        <br>
        <% if current_user && (current_user == @question.user || current_user == answer.user || current_user.admin) %>
        <br>
          <%= link_to 'Elimina', [answer.question.property, answer.question, answer],
                   method: :delete,
                   data: { confirm: 'Sei sicuro?' }, :class => 'btn btn-danger' %>
        <% end %>
      </div>
      </div>
    </p>
  <% end %>
<% end %>

<% if current_user != nil %>
  <h4>Aggiungi una risposta:</h4>
  <%= form_for([@property, @question, @question.answers.build]) do |f| %>
    <p>
      <%= f.text_area :body, :class=>"form-control"%>
    </p>
    <p>
      <%= f.submit "Invia" %>
    </p>
  <% end %>
<% end %>
