<head>
    <style>
        .pac-container, .pac-item, .pac-item-query {
            background-color: rgb(0, 0, 0) !important;
            font-size: 14px !important;
            color: white;
        }
    </style>
</head>

<body style="background-color: white">

<div class="fotosfondo" align="center">

<h1> <strong> Impostazioni Profilo </strong></h1>
<br>
<h2 style="color: red; font-family: Comic Sans MS"> <%= current_user.email.upcase %></h2>

<br>
<div style="position: absolute; top:80px; right:100px">
<%= link_to "Impostazioni account", edit_user_registration_url %>

<%= form_for @user, :url => {:action => "update"}, :html => {:method => "get"} do |f| %>
</div>
<div class="bordi">
    <div class="field">
        <%= f.label "Gestore" , :for => "checkbox" %>
        <%= check_box_tag :admin, 1, :admin, :class => 'profileCheckBox', :id => "checkbox" %>
    </div>

    <br>
    <div class="input-group">
        <%= f.label :luogo_preferito %><br/>
        <%= text_field_tag(:luogo_preferito, nil, required: true, :class => 'luogopref', :value => current_user.luogo_preferito) %>
    </div>
    <br>
    <div class="field">
        <%= f.label :stazione_preferita %><br/>
        <%= select_tag :stazione_preferita, options_for_select(@stazioni, current_user.stazione_preferita), :include_blank => '-- Seleziona --', required: true %>
    </div>
    <br>
    <div class="field">
        <%= f.label :carburante_preferito %><br/>
        <%= select_tag :carburante_preferito, options_for_select(tipo_carburante, current_user.carburante_preferito), :include_blank => '-- Seleziona --', required: true %>
    </div>
    <br>
    <div class="field">
        <%= f.label :litri_serbatoio %><br/>
        <%= number_field(:litri_serbatoio, nil, required: true, min: 1.0, :value => current_user.litri_serbatoio, :class => "number_field_profiles") %>
    </div>

    <br><button class="button"><span> Aggiorna</span>     
<% end %>
    </div>

<script>
    function initAutocomplete() {
        var input = document.getElementById('luogo_preferito');
        var searchBox = new google.maps.places.SearchBox(input);
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) {
                return;
            }
        });
    }
</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
        async defer></script>

<!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
    </div>