
<h1>Dati salvati correttamente.</h1>

<%= current_user.admin %></br>
<%= current_user.luogo_preferito %></br>
<%= current_user.stazione_preferita %></br>
<%= current_user.carburante_preferito %></br>
<%= current_user.litri_serbatoio %></br>