<!--http://guides.rubyonrails.org/getting_started.html#the-first-form-->

<%= form_with scope: :station, url: stations_path, local: true do |form| %>

  <p>
    <%= form.label :Bandiera %><br>
    <%= form.text_field :Bandiera %>
  </p>

    <p>
        <%= form.label :Nome %><br>
        <%= form.text_field :Nome %>
    </p>

    <p>
        <%= form.label :Indirizzo %><br>
        <%= form.text_field :Indirizzo %>
    </p>

    <p>
        <%= form.label :Comune %><br>
        <%= form.text_field :Comune %>
    </p>

    <!--    Le province sono definite in helper/stations_helper.rb-->
    <p>
        <%= form.label :Provincia %><br>
        <%= form.select :Provincia, province_italiane, :include_blank => true %>
    </p>

    <br>

  <p>
    <%= form.submit %>
  </p>
<% end %>
