<p>
    <strong>Bandiera:</strong>
    <%= @station.Bandiera %>
</p>

<p>
    <strong>Nome:</strong>
    <%= @station.Nome %>
</p>

<p>
    <strong>Indirizzo:</strong>
    <%= @station.Indirizzo %>
</p>

<p>
    <strong>Comune:</strong>
    <%= @station.Comune %>
</p>

<p>
    <strong>Provicia:</strong>
    <%= @station.Provincia %>
</p>