<p>
    <strong>Bandiera:</strong>
    <%= @station.Bandiera %>
</p>

<p>
    <strong>Nome:</strong>
    <%= @station.Nome %>
</p>

<p>
    <strong>Indirizzo:</strong>
    <%= @station.Indirizzo %>
</p>

<p>
    <strong>Comune:</strong>
    <%= @station.Comune %>
</p>

<p>
    <strong>Provicia:</strong>
    <%= @station.Provincia %>
</p>

<!--http://guides.rubyonrails.org/getting_started.html#rendering-a-partial-form-->
<h2>Recensioni:</h2>
<%= render @station.reviews %>

<h2>Aggiungi una recensione:</h2>
<%= render 'reviews/form' %>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>