<body style="background-color: #FFFBCE">

<div align="center">
    <h1>Statistiche</h1><br>

    <%= form_tag("/implants/stats", method: :get) do %>
        <div class="input">

            <div class="field">
                <p> Tipo carburante </p>
                <% if (params.has_key?(:tipo_carburante) && params.has_key?(:order)) %>
                    <%= select_tag :tipo_carburante, options_for_select(tipo_carburante, params[:tipo_carburante]),
                                   :include_blank => '-- Seleziona --', required: true %>
                <% else %>
                    <%= select_tag :tipo_carburante, options_for_select(tipo_carburante),
                                   :include_blank => '-- Seleziona --', required: true %>
                <% end %>

            </div>

            <div class="field">
                <p> Ordinamento </p>
                <% if (params.has_key?(:tipo_carburante) && params.has_key?(:order)) %>
                    <%= select_tag :order, options_for_select(ordine, params[:order]),
                                   :include_blank => '-- Seleziona --', required: true,
                                   :id => "ordinamento" %>
                <% else %>
                    <%= select_tag :order, options_for_select(ordine),
                                   :include_blank => '-- Seleziona --', required: true,
                                   :id => "ordinamento" %>
                <% end %>
            </div>

            <div class="field" id="provinciaDiv">
                <p> Provincia </p>
                <% if (params.has_key?(:tipo_carburante) && params.has_key?(:order) && params.has_key?(:provincia)) %>
                    <%= select_tag :provincia, options_for_select(province, params[:provincia]),
                                   :include_blank => '-- Seleziona --', required: false %>
                <% else %>
                    <%= select_tag :provincia, options_for_select(province),
                                   :include_blank => '-- Seleziona --', required: false %>
                <% end %>
            </div>

            <script type="text/javascript">
                //Questo script fa apparire il selettore della provincia solo se si sceglie l'opzione "Prezzo Media"
                $(document).ready(function () {
                    $("#ordinamento").change(function () {
                        if ($("#ordinamento").val() == "MEDIA") {
                            $("#provinciaDiv").show()
                        } else {
                            $("#provinciaDiv").hide()
                        }
                    });
                });
            </script>

        </div>

        <br>
        <%= submit_tag("Cerca", :class => 'btn btn-primary') %>

    <% end %>

    <br>

    <div>
        <% if (params.has_key?(:tipo_carburante) && params.has_key?(:order)) %>

            <% if @order == "MEDIA" %>

                <h3> Nella provincia di <b><%= province_reverse[@provincia] %></b> il prezzo medio
                    di <%= @tipo_carburante %> è <b>€<%= @prezzi_media[@provincia].to_s.slice(0, 5) %></b> <br>
                    mentre in Italia il prezzo medio è €<%= @prezzo_medio_italia.to_s.slice(0, 5) %>
                    (+<%= (@prezzi_media[@provincia].to_s.slice(0, 5).to_d / @prezzo_medio_italia.to_s.slice(0, 5).to_d).round(3) %>
                    %) </h3>

            <% else %>

                <h3>
                    In Italia, queste <%= @prezzi.count("Implants.idImpianto").length %> stazioni di rifornimento
                    vendono <%= @tipo_carburante %> al prezzo <%= @order_desc %>.
                </h3>
                <br>

                <div style='width: 100%;'>
                    <div id="map" style='width: 100%; height: 450px;'></div>
                </div>
                <script type="text/javascript">
                    handler = Gmaps.build('Google');
                    handler.buildMap({provider: {}, internal: {id: 'map'}}, function () {
                        markers = handler.addMarkers(<%=raw @routers_default.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                    });
                </script>

                <%= render 'stats_table' %>

            <% end %>

        <% end %>
    </div>
</div>
</body>