        <%= form_tag("/implants/index", method: :get, html: {autocomplete: "off"}, :class => 'myForm') do %>

            <div class="Locationinput">
                <%= text_field_tag(:city, nil, required: true, :class => "mySearchBar", :id => "mySearchBar", 
                :placeholder => "Inserisci indirizzo", 
                :value => current_user.try(:luogo_preferito?) ? current_user.luogo_preferito : "") %>
                <img class="locationImg" src="/locate1.png" onclick="getLocation()">
            </div>


            <%= number_field_tag :raggio, nil, required: true, min: 1.0, max: 50.0, :placeholder => "KM", :class => "myRadius", :id => "myRadius" %>
            <% if user_signed_in? %>
                <%= select_tag :tipo_carburante, options_for_select(tipo_carburante, current_user.carburante_preferito),
                               :include_blank => '-- Seleziona --', required: true, :class => "myDropdown", :id => "myDropdown" %>
            <% else %>
                <%= select_tag :tipo_carburante, options_for_select(tipo_carburante),
                               :include_blank => '-- Seleziona --', required: true, :class => "myDropdown", :id => "myDropdown" %>
            <% end %>

            <%= submit_tag("Cerca", :class => 'myButton', :id => "myButton") %>
            </div>

        <% end %>

        <script>
            //AUTOCOMPLETE
            function initAutocomplete() {
                // Create the search box and link it to the UI element.
                var input = document.getElementById('mySearchBar');
                var searchBox = new google.maps.places.SearchBox(input);
                // Listen for the event fired when the user selects a prediction and retrieve
                // more details for that place.
                searchBox.addListener('places_changed', function () {
                    var places = searchBox.getPlaces();
                    if (places.length == 0) {
                        return;
                    }
                });
            }

            //CURRENT LOCATION
            var searchBar = document.getElementById('mySearchBar');

            function getLocation() {
                if (navigator.geolocation) {
                    searchBar.value = "Localizzazione in corso...";
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    alert("Geolocation is not supported by this browser.");
                }
            }

            function showPosition(position) {
                var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                new google.maps.Geocoder().geocode({'latLng': latlng},
                    function (results, status) {
                        searchBar.value = results[0].formatted_address;
                    }
                );
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
                async defer></script>