<h1>Questo è il tuo profilo. Ecco le tue informazioni:</h1>

<% if current_user.provider %>
  <h4><div class="alert alert-info" role="alert">Accesso effettuato tramite <b><%= current_user.provider %></b></div></h4>
<% end %>

<%# immagine %>
<h2>Avatar: </h2>
<% if current_user.provider == nil %>
  <%= image_tag current_user.avatar.url(:medium) %>
<% else %>
  <%= image_tag current_user.image %>
<% end %>

<h2>Email: </h2>
<%= current_user.email %>

<h2>Username: </h2>
<%= current_user.username %>

<h2>Creato: </h2>
<%= current_user.created_at %><p/>

  <hr>

  <% if current_user.provider %>
    <div class="alert alert-danger" role="alert">Impossibile modificare informazioni: accesso con Facebook.</div>
  <% else %>
    <%= link_to "Modifica info", edit_user_registration_path, :class => 'btn btn-warning' %>
  <% end %>
