%h2 #{@person} mette a disposizione #{@game.name}

%h2 nella seguente area:
#{@ad.location}

%h2 per:
#{@ad.tipo}

%h2 nella seguente modalità di consegna:
- if @ad.delivery.length == 0
    ="Nessuna info da mostrare"
- else
    #{@ad.delivery}

%h2 altri dettagli:
- if @ad.description.length == 0
    ="Nessuna info da mostrare"
- else
    #{@ad.description}

%br
%br
= link_to 'Sono interessato', ad_responses_path(@ad), :method => :post
= link_to 'Non sono interessato', game_reviews_path(@game)
= link_to 'Delete', game_ad_path(@game,@ad), :method => :delete, data: { confirm: 'Are you sure?' }
= link_to 'Report', new_report_path(ad_target: @ad.id)
