<%= @item = Item.find(params[:id]) %>
        <%= @review = @item.reviews.new %>
        <%= form_for([@item,@review]) do |f| %>
            <% if @review.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

                    <ul>
                    <% @review.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
    <h4>Add a new review!</h4>
    
<div class="well">
        
        
        <div class="row">
            <div class="col-md-9">
                
                <div id="rating-form">
                    <label>Rating</label>
                </div>
                <p>
                    <%= f.label :comment %>
                    <%= f.text_area :comment, class: 'form-control' %>
                </p>
            </div>
                
            <div class="col-md-3">
                <strong>Rating: </strong><%= f.text_field :rating, class: 'form-control' %>
                <strong>Price: </strong><%= f.text_field :price, class: 'form-control' %> 
                <strong>Store: </strong><%= f.text_field :store, class: 'form-control' %>
                <strong>Store Location: </strong><%= f.text_field :store_location, class: 'form-control' %>
                                
            </div>
            
        </div>

        <hr>
        
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <%= f.submit "Add Review", class: "btn btn-primary" %>
            </div>
            <div class="col-md-4">
            </div>
        </div>
</div>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>
