<p id="notice"><%= notice %></p>

<p>
  <strong>Idimpianto:</strong>
  <%= @price.idImpianto %>
</p>

<p>
  <strong>Desccarburante:</strong>
  <%= @price.descCarburante %>
</p>

<p>
  <strong>Prezzo:</strong>
  <%= @price.prezzo %>
</p>

<p>
  <strong>Isself:</strong>
  <%= @price.isSelf %>
</p>

<p>
  <strong>Dtcomu:</strong>
  <%= @price.dtComu %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
