<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :car_user_id %>
  </div>

  <div class="field">
    <%= form.label :modello %>
    <%= form.text_field :modello, id: :car_modello %>
  </div>

  <div class="field">
    <%= form.label :targa %>
    <%= form.text_field :targa, id: :car_targa %>
  </div>

  <div class="field">
    <%= form.label :capacita_serbatoio %>
    <%= form.number_field :capacita_serbatoio, id: :car_capacita_serbatoio %>
  </div>

  <div class="field">
    <%= form.label :tipo_carburante %>
    <%= form.text_field :tipo_carburante, id: :car_tipo_carburante %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
