<% provide(:title, "Edit add") %>
<h1>Update your add</h1>
    <%= @add = current_owner.adds.find_by(id: params[:id]) %>

    <%= form_for(@add, html: { multipart: true }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>

      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
    <% end %>


    <script type="text/javascript">
      $('#micropost_picture').bind('change', function() {
      size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
    </script>


    

    
  
