<div class="container">
<p id="notice"><%= notice %></p>

<h1>All Adds</h1>

<div class="text-right">
    <a class="btn btn-primary" href="/adds/new">New Add</span></a>
</div>

<div class="row">
      
    <% @adds.each do |add| %>
      
      <div class="row">
            <div class="col-md-3">
                <% if !add.picture.present? %>
                <%= link_to image_tag("http://placehold.it/200x150"), add %> 
            <% else %>
                <%= link_to image_tag(add.picture.listing_items.url), add %> 
            <% end %>
            </div>
            <div class="col-md-8">
                <h3><%= link_to add.name, add %>
                <h4><i class="fa fa-usd" aria-hidden="true"></i> <%= add.price %></h4>
                <p>
                    <i class="fa fa-sitemap" aria-hidden="true"></i> <strong>:</strong> <%= link_to add.owner.website, "http://#{add.owner.website}" %>
                    &nbsp&nbsp&nbsp&nbsp
                    <i class="fa fa-envelope" aria-hidden="true"></i> <strong>:</strong> <%= add.owner.email %> 
                </p>
                <p><%= add.description %></p>
            </div>

            <div class="col-md-1">
            <% if add.owner == current_owner %>
    
            <p>
                <%= link_to '', [add],
                    method: :delete,
                    data: { confirm: 'Are you sure?' } , class: "fa fa-times", style: "color:#DC143C" %>
                
            </p>
            <p>
                <%= link_to "", edit_add_path(add), class: "fa fa-pencil-square-o", style: "color:#6495ED" %>
            </p>
    
            <% end %>
            </div>
        </div>
        <!-- /.row -->

        <hr>
    <% end %>

<% if !@adds.present? %>
  <p>There are no adds matching this name.</p>
<% end %>

<%= will_paginate  @adds %>
</div>


