
<body class="intro">

<div class="HomeBanner">

    <h1 class="intro"> Smart Gas Station </h1>
    <h4 class="intro">Trova il prezzo più conveniente</h4>

    <div class="myDivForm" >
    <%= form_tag("/implants/index", method: :get, html: { autocomplete: "off" }, :class => 'myForm') do %>

        <%= text_field_tag(:city, nil, required: true, :class => "mySearchBar", :placeholder => "Inserisci indirizzo") %>
    <%= number_field_tag :raggio, nil, required:true, min:1.0, max:50.0, :placeholder => "KM", :class => "myRadius"  %>
    <% if user_signed_in? %>
        <%= select_tag :tipo_carburante, options_for_select(tipo_carburante, current_user.carburante_preferito),
                       :include_blank => '-- Seleziona --', required: true, :class => "myDropdown" %>
    <% else %>
        <%= select_tag :tipo_carburante, options_for_select(tipo_carburante),
                       :include_blank => '-- Seleziona --', required: true, :class => "myDropdown" %>
    <% end %>
        <%= submit_tag("Cerca", :class => 'myButton') %>
</div>

    <% end %>

    <script>
        function initAutocomplete() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('city');
            var searchBox = new google.maps.places.SearchBox(input);
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
            async defer></script>

</div>

</body>
