</div>
<div class="main_div">
  <div class="container">
    <h1>Smart Gas Station</h1>
    <p>Trova il prezzo più conveniente</p>

  </div>
</div>

<div class="container">
<!--    http://guides.rubyonrails.org/form_helpers.html-->
    <%= form_tag("/implants/index", method: :get) do %>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
                <%= label_tag(:city, "Dove ti trovi?:") %>
            </span>
            <%= text_field_tag(:city, nil, required: true, :class => "form-control", :value => current_user.luogo_preferito) %>
        </div>

        <br>

        <div class="input">
            <p>
                Raggio:
                <%= number_field(:raggio, nil, required:true, min:1.0, max:50.0) %>
                KM
            <p>
                Tipo carburante:
                <%= select_tag :tipo_carburante, options_for_select(tipo_carburante, current_user.carburante_preferito),
                               :include_blank => '-- Seleziona --' , required: true %>
            </p>

<!--            <p>-->
<!--                Litri rimanenti:-->
                <%#= number_field(:litri_rimanenti, nil, required: false, min: 1.0, max: 50.0) %>
<!--            </p>-->

        </div>

        <%= submit_tag("Cerca", :class => 'btn btn-primary') %>
    <% end %>

    <script>
        function initAutocomplete() {
            // Create the search box and link it to the UI element.
            var input = document.getElementById('city');
            var searchBox = new google.maps.places.SearchBox(input);
            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function () {
                var places = searchBox.getPlaces();
                if (places.length == 0) {
                    return;
                }
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArL2n6TaQSKSC3Fd5r4zp0jv2LW-CeQHk&libraries=places&callback=initAutocomplete"
            async defer></script>

</div>


