<% provide(:title, 'All users') %>
<h1><%= t(:lista)+" "+t(:user) %></h1>
 <tr> <% if !@users.present? %>
  <p><%= t(:nosearchuser) %></p> </tr>
<% else %>
<ol class="users">
    <%= render @users %>
</ol>
 <% end %>

<% provide(:title, 'All owners') %>
<h1><%= t(:lista)+" "+t(:owners) %></h1>
<tr> <% if !@owners.present? %>
  <p><%= t(:nosearchowner) %></p> </tr>
<% else %>
<ol class="owners">
   <%= render @owners %>
</ol>
<%= will_paginate @owners%> <% end %>
