<h1>REPORT</h1>

<p>
    <strong>From:</strong>
    <%= link_to @from.name, user_path(@from.id), method: :get %>
</p>
<p>
    <strong>Regarding:</strong>
    <% if @type == "Game" %>
        <%= link_to @target.name, game_reviews_path(@target.id), method: :get %>
    <% elsif @type == "Ad" %>
        <%= link_to "Ad", game_ad_path(@target.game,@target.id), method: :get %>
    <% elsif @type == "Review" %>
        <%= link_to "Review", game_review_path(@target.game,@target.id), method: :get %>
    <% end %>
</p>
<p>
    <strong>Description:</strong>
    <%= @report.description %>
</p>

<%= link_to 'Back', reports_path %>

<p>
    <%= link_to 'Destroy Report', report_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
