<body class="text-center calcsBody">

<h1>Calcola costi</h1>

<%= form_tag("/calcs/show", method: :get, :class => 'form-signin') do %>

    <!--    <img class="mb-4" src="http://cdn.onlinewebfonts.com/svg/download_403829.png" alt="" width="72" height="72">-->

    <div class="input" style="">
        <p> Vuoi fare il pieno? </p>

        <table class="profileTable">
            <tr>
                <th> <%= radio_button_tag(:pieno, true) %></th>
                <th><%= label_tag(:pieno_si, "Si") %></th>
            </tr>
            <tr>
                <td><%= radio_button_tag(:pieno, false) %></td>
                <td><%= label_tag(:pieno_no, "No") %></td>
            </tr>
        </table>

        <%= hidden_field_tag(:prezzo, @prezzo) %>
        <%= hidden_field_tag(:tipo_carburante, @tipo_carburante) %>

    </div>

    <div class="w3-container w3-center">

        <p>
            Quanti litri ti rimangono?
            <%= number_field(:litri_rimanenti, nil, required: true, min: 0.0, max: 50.0, class: "profileInput") %>
        </p>
    </div>

    <div class="actions">
        <%= submit_tag("Calcola", :class => 'btn btn-lg btn-primary btn-block') %>
    </div>
    <div>
        <% if (params.has_key?(:pieno)) %>
            <% if (params[:pieno] == "true") %>
                <br>
                <br>
                <p style="font-size: 20px"> Considerando che hai <%= @litri - params[:litri_rimanenti][0].to_i %> litri di serbatio da riempire
                    in questa stazione
                    pagheresti €<%= (@litri - params[:litri_rimanenti][0].to_i) * (@prezzo.to_f).round %>
                    <br><br>

                <p> Vuoi confrontare i prezzi con le altre stazioni? <a href="javascript:history.back()">Back</a>
            <% else %>
                <br>
                <br>
                <p> Sei sicuro? Qui un pieno costa solo €<%= (@litri - params[:litri_rimanenti][0].to_i) * @prezzo.to_i %>
                <br><br>
                <p> Vuoi confrontare i prezzi con le altre stazioni?
                    <a style="text-color:blue;" href="javascript:history.back()">Back</a>
            <% end %>

        <% end %>

    </div>

<% end %>

</body>
