<!DOCTYPE html>
<html lang="en">
<% if flash[:success] %>
    <div class="success"><%= flash[:success] %></div>
  <% end %>
<% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MyApplication Layout">
    <meta name="author" content="iBuso">
    
    <title>RevIt</title>
    
    <!-- Bootstrap Core CSS -->
    <link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/homepage.css" rel="stylesheet">
    
    <!-- font awesome --->
    <link rel="stylesheet" href="app/assets/font-awesome/css/font-awesome.min.css">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <% if !logged_in? && !logged_in_owner? %>
    <!-- Header -->
    <div class="container">
       <div class="row">
          <div class="col-md-10">
            <h1>RevIt</h1>
          </div>
          <div class="col-md-2"> 
            <%=link_to(image_tag("usa"), "http://localhost:3000"+"#{request.env['PATH_INFO']}")%>
            <%=link_to(image_tag("italy"), "http://localhost.it:3000"+"#{request.env['PATH_INFO']}")%>
          </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
                <a href="/auth/facebook">
                    <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="color:#3b5998"></i>
                </a>
            </div>
            <div class="col-md-3">
                    <div class="btn-group open">
                        <a class="btn btn-primary" href="/login"><i class="fa fa-user fa-fw"></i> Login</a>
                    </div>
            
                    <div class="btn-group open">
                        <a class="btn btn-primary" href="/loginowners"><i class="fa fa-user fa-fw"></i> Login <%=t(:owners)%></a>
                    </div>
             </div>
        </div>
    </div>
    <% else %>
    <% if logged_in_owner? %>
      <div class="row">
          <div class="col-md-10">
            <h1>RevIt</h1>
          </div>
          <div class="col-md-2"> 
            <%=link_to(image_tag("usa"), "http://localhost:3000"+"#{request.env['PATH_INFO']}")%>
            <%=link_to(image_tag("italy"), "http://localhost.it:3000"+"#{request.env['PATH_INFO']}")%>
          </div>
        </div>
      <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        <%= link_to gravatar_for(current_owner), current_owner %> 
                        <%= current_owner.name %>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><%= link_to "   Profile", current_owner, class: "fa fa-fw fa-user" %></li>
                        <li><%= link_to "   Settings  ", edit_owner_path(current_owner), class: "fa fa-fw fa-gear" %></li>
                        <li role="presentation" class="divider"></li>
                        <li><%= link_to "   Log out  ", logoutowners_path, method: :delete, class: "fa fa-fw fa-power-off" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
      
    <% else if logged_in? %>
    <div class="row">
          <div class="col-md-10">
            <h1>RevIt</h1>
          </div>
          <div class="col-md-2"> 
            <%=link_to(image_tag("usa"), "http://localhost:3000"+"#{request.env['PATH_INFO']}")%>
            <%=link_to(image_tag("italy"), "http://localhost.it:3000"+"#{request.env['PATH_INFO']}")%>
          </div>
        </div>
      <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                        <%= link_to gravatar_for(current_user), current_user %> 
                        <%= current_user.name %>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><%= link_to "   "+t(:profile), current_user, class: "fa fa-fw fa-user" %></li>
                        <li><%= link_to "   "+t(:my)+" "+t(:reviews), "/users/"+current_user.id.to_s+"/my_review" , class:"fa fa-star"%></li>
                        <li><%= link_to "   "+t(:settings), edit_user_path(current_user), class: "fa fa-fw fa-gear" %></li>
                        <li role="presentation" class="divider"></li>
                        <li><%= link_to "   Log out  ", logout_path, method: :delete, class: "fa fa-fw fa-power-off" %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
<% end %>
<% end %>
<% end %>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="navbar-brand" href="home">RevIt</a> -->
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                            <li>
                                <a href="/home"> Home </a>
                            </li>
                            <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><%= t(:categories) %> <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li>
                                  <a href="/items?category=booksaudible"><i class="fa fa-book" aria-hidden="true"></i> <%= t(:ba) %></a>
                                </li>
                                <li>
                             <a href="/items?category=moviesmusicgames"><i class="fa fa-film" aria-hidden="true"></i> <%= t(:mmg) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=electronicscomputers"><i class="fa fa-laptop" aria-hidden="true"></i> <%= t(:ec) %></a>
                                </li>
                                <li>
                                    <a  href="/items?category=homegardentools"><i class="fa fa-home" aria-hidden="true"></i> <%= t(:hgt) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=beautyhealthgrocery"><i class="fa fa-heart-o" aria-hidden="true"></i> <%= t(:bhg) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=toyskidsbaby"><i class="fa fa-child" aria-hidden="true"></i> <%= t(:tkb) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=clothingshoesjewelry"><i class="fa fa-shopping-bag" aria-hidden="true"></i> <%= t(:csj) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=sportsoutdoors"><i class="fa fa-futbol-o" aria-hidden="true"></i> <%= t(:so) %></a>
                                </li>
                                <li>
                                    <a href="/items?category=automotiveindustrial"><i class="fa fa-car" aria-hidden="true"></i> <%= t(:ai) %></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/items"> <%= t(:items) %> </a>
                        </li>
                        <li>
                            <a href="/adds"> <%= t(:adds) %> </a>
                        </li>
                        <li>
                            <a href="/contacts/new"> <%= t(:contact) %></a>
                        </li>
                        <li>
                            <a href="/users"> <%= t(:users) %> </a>
                        </li>
                        <li>
                            <a href="/owners"> <%= t(:owners) %> </a>
                        </li>
                </ul> 
                
                
                
               
                <ul class="nav navbar-nav navbar-right">    
                        <% if !logged_in? && !logged_in_owner? %>
                        <li>
                            <a href="/signup"> <%= t(:signup) %> </a>
                        </li>
                        <li>
                            <a href="/signupowners"><%=  t(:signup)+" "+t(:as)+" "+t(:owner) %></a>
                        </li>
                        <% end %>
                        <li>

                            <%= form_tag(search_index_path, :method => "get", id: "search-form") do %>
                            <%= text_field_tag :search, params[:search], placeholder: t(:search)+" "+t(:user)+" "+t(:or)+" "+t(:owners) %>
                            <%= link_to "", items_search_path, class: "fa fa-bars fa-2x" %>
                            <% end %>
                        </li>

                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
   
<%= yield %>

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; RevIT 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

    <script>
        $(document).ready(function(){
        $(".dropdown-toggle").dropdown();
        });
    </script>

</body>
</html>


